/*!
  Theme: Tokyo-night-Dark
  origin: https://github.com/enkia/tokyo-night-vscode-theme
  Description: Original highlight.js style
  Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
  License: see project LICENSE
  Touched: 2022
*/

.root {

}

/*  Comment */
.root .hljs-meta,
.root .hljs-comment {
    color: #565f89;
}

/* Red */
/*INFO: This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
.root .hljs-tag,
.root .hljs-doctag,
.root .hljs-selector-id,
.root .hljs-selector-class,
.root .hljs-regexp,
.root .hljs-template-tag,
.root .hljs-selector-pseudo,
.root .hljs-selector-attr,
.root .hljs-variable.language_,
.root .hljs-deletion {
    color: #f7768e;
}

/*Orange */
/*INFO: Number and Boolean constants, Language support constants */
.root .hljs-variable,
.root .hljs-template-variable,
.root .hljs-number,
.root .hljs-literal,
.root .hljs-type,
.root .hljs-params,
.root .hljs-link {
    color: #ff9e64;
}

/*  Yellow */
/* INFO:  	Function parameters, Regex character sets, Terminal Yellow */
.root .hljs-built_in,
.root .hljs-attribute {
    color: #e0af68;
}
/* cyan */
/* INFO: Language support functions, CSS HTML elements */
.root .hljs-selector-tag {
    color: #2ac3de;
}

/* light blue */
/* INFO: Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
.root .hljs-keyword,
.root .hljs-title.function_,
.root .hljs-title,
.root .hljs-title.class_,
.root .hljs-title.class_.inherited__,
.root .hljs-subst,
.root .hljs-property {
    color: #7dcfff;
}

/*Green*/
/* INFO: Object literal keys, Markdown links, Terminal Green */
.root .hljs-selector-tag {
    color: #73daca;
}

/*Green(er) */
/* INFO: Strings, CSS class names */
.root .hljs-quote,
.root .hljs-string,
.root .hljs-symbol,
.root .hljs-bullet,
.root .hljs-addition {
    color: #9ece6a;
}

/* Blue */
/* INFO:  	Function names, CSS property names, Terminal Blue */
.root .hljs-code,
.root .hljs-formula,
.root .hljs-section {
    color: #7aa2f7;
}

/* Magenta */
/*INFO: Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta */
.root .hljs-name,
.root .hljs-keyword,
.root .hljs-operator,
.root .hljs-keyword,
.root .hljs-char.escape_,
.root .hljs-attr {
    color: #bb9af7;
}

/* white*/
/* INFO: Variables, Class names, Terminal White */
.root .hljs-punctuation {
    color: #c0caf5;
}

.root .hljs {
    background: #1a1b26;
    color: #9aa5ce;
}

.root .hljs-emphasis {
    font-style: italic;
}

.root .hljs-strong {
    font-weight: bold;
}
